<div class="notfound">
  <img src="../../assets/img/c1.svg" alt="c1" class="notfound__c1 circle" />
  <img src="../../assets/img/c2.svg" alt="c2" class="notfound__c2 circle" />

  <img src="../../assets/img/c4.svg" alt="c4" class="notfound__c4 circle" />
  <img src="../../assets/img/c5.svg" alt="c5" class="notfound__c5 circle" />
  <div class="notfound__wrapper">
    <img src="../../assets/img/c3.svg" alt="c3" class="notfound__c3 circle" />
    <h2 class="notfound__404">404</h2>
    <h2 class="notfound__title">This Page Not Found</h2>
    <p class="notfound__desc">
      Oops! The page you are looking for does not exist. It might have been
      moved or deleted.
    </p>
    <app-button href="book/1">BACK TO HOME</app-button>
  </div>
</div>
