<form class="form" [formGroup]="loginForm">
  <div class="auth__input">
    <div class="text-field">
      <input
        type="text"
        formControlName="email"
        class="text-field__input"
        placeholder=""
        required
      />
      <label class="text-field__label">Email</label>
    </div>
    <div *ngIf="email?.hasError && email?.touched" class="error">
      <p class="error__message" *ngIf="email?.errors?.['required']">
        Необходимое поле
      </p>
      <p class="error__message" *ngIf="email?.errors?.['email']">
        Некорректный email
      </p>
    </div>
  </div>
  <div class="auth__input">
    <div class="text-field">
      <input
        formControlName="password"
        type="text"
        class="text-field__input"
        placeholder=""
        required
      />
      <label class="text-field__label">Password</label>
    </div>
    <div *ngIf="password?.hasError && password?.touched" class="error">
      <p class="error__message" *ngIf="password?.errors?.['required']">
        Необходимое поле
      </p>
    </div>
  </div>
  <div class="auth__button">
    <app-button
      (click)="submit()"
      [disabled]="loginForm.invalid"
      [loading]="loading"
      >Войти</app-button
    >
  </div>
</form>
